/* Variables */
/* Mix-ins */
/* Actual Styles */
@media screen {
  html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    display: block !important;
    height: 100%;
    min-height: 740px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #d7d7d7;
    background: -o-radial-gradient(#f0f0f0, #bebebe);
    background: -moz-radial-gradient(#f0f0f0, #bebebe);
    background: -webkit-radial-gradient(#f0f0f0, #bebebe);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#bebebe));
    -webkit-font-smoothing: antialiased;
  }
  .slides {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .slides > article {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 900px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -350px;
    padding: 40px 60px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #666666;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
  }
  .slides > article.far-past {
    display: block;
    transform: translate(-2040px);
    -o-transform: translate(-2040px);
    -moz-transform: translate(-2040px);
    -webkit-transform: translate3d(-2040px, 0, 0);
  }
  .slides > article.past {
    display: block;
    transform: translate(-1020px);
    -o-transform: translate(-1020px);
    -moz-transform: translate(-1020px);
    -webkit-transform: translate3d(-1020px, 0, 0);
  }
  .slides > article.current {
    display: block;
    transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .slides > article.next {
    display: block;
    transform: translate(1020px);
    -o-transform: translate(1020px);
    -moz-transform: translate(1020px);
    -webkit-transform: translate3d(1020px, 0, 0);
  }
  .slides > article.far-next {
    display: block;
    transform: translate(2040px);
    -o-transform: translate(2040px);
    -moz-transform: translate(2040px);
    -webkit-transform: translate3d(2040px, 0, 0);
  }
  .slides > article.fill h3 {
    background: rgba(255, 255, 255, 0.75);
    padding-top: .2em;
    padding-bottom: .3em;
    margin-top: -0.2em;
    margin-left: -60px;
    padding-left: 60px;
    margin-right: -60px;
    padding-right: 60px;
  }
  .slides > article.smaller p,
  .slides > article.smaller ul {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .slides > article.smaller table {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .slides > article.smaller pre {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
  }
  .slides > article.smaller q {
    font-size: 40px;
    line-height: 48px;
  }
  .slides > article.smaller q::before,
  .slides > article.smaller q::after {
    font-size: 60px;
  }
  .slides.layout-widescreen {
    margin-left: -550px;
    width: 1100px;
  }
  .slides.layout-widescreen article:not(.nobackground):not(.biglogo) {
    background-position-x: 0, 840px;
  }
  .slides.layout-widescreen article.far-past {
    display: block;
    transform: translate(-2260px);
    -o-transform: translate(-2260px);
    -moz-transform: translate(-2260px);
    -webkit-transform: translate3d(-2260px, 0, 0);
  }
  .slides.layout-widescreen article.past {
    display: block;
    transform: translate(-1130px);
    -o-transform: translate(-1130px);
    -moz-transform: translate(-1130px);
    -webkit-transform: translate3d(-1130px, 0, 0);
  }
  .slides.layout-widescreen article.current {
    display: block;
    transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .slides.layout-widescreen article.next {
    display: block;
    transform: translate(1130px);
    -o-transform: translate(1130px);
    -moz-transform: translate(1130px);
    -webkit-transform: translate3d(1130px, 0, 0);
  }
  .slides.layout-widescreen article.far-next {
    display: block;
    transform: translate(2260px);
    -o-transform: translate(2260px);
    -moz-transform: translate(2260px);
    -webkit-transform: translate3d(2260px, 0, 0);
  }
  .slides.layout-widescreen #prev-slide-area {
    margin-left: -650px;
  }
  .slides.layout-widescreen #next-slide-area {
    margin-left: 500px;
  }
  .slides.layout-faux-widescreen {
    margin-left: -550px;
    width: 1100px;
    padding: 40px 160px;
  }
  .slides.layout-faux-widescreen article:not(.nobackground):not(.biglogo) {
    background-position-x: 0, 840px;
  }
  .slides.layout-faux-widescreen article.far-past {
    display: block;
    transform: translate(-2260px);
    -o-transform: translate(-2260px);
    -moz-transform: translate(-2260px);
    -webkit-transform: translate3d(-2260px, 0, 0);
  }
  .slides.layout-faux-widescreen article.past {
    display: block;
    transform: translate(-1130px);
    -o-transform: translate(-1130px);
    -moz-transform: translate(-1130px);
    -webkit-transform: translate3d(-1130px, 0, 0);
  }
  .slides.layout-faux-widescreen article.current {
    display: block;
    transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .slides.layout-faux-widescreen article.next {
    display: block;
    transform: translate(1130px);
    -o-transform: translate(1130px);
    -moz-transform: translate(1130px);
    -webkit-transform: translate3d(1130px, 0, 0);
  }
  .slides.layout-faux-widescreen article.far-next {
    display: block;
    transform: translate(2260px);
    -o-transform: translate(2260px);
    -moz-transform: translate(2260px);
    -webkit-transform: translate3d(2260px, 0, 0);
  }
  .slides.layout-faux-widescreen #prev-slide-area {
    margin-left: -650px;
  }
  .slides.layout-faux-widescreen #next-slide-area {
    margin-left: 500px;
  }
  .slides.template-default article:not(.nobackground):not(.biglogo) {
    background: url(images/google-logo-small.png) 710px 625px no-repeat;
    background-color: #ffffff;
  }
  .slides.template-default article.biglogo {
    background: #ffffff url(images/google-logo.png) 50% 50% no-repeat;
  }
  .slides.template-io2011 article:not(.nobackground):not(.biglogo) {
    background: url(images/colorbar.png) 0 600px repeat-x, url(images/googleio-logo.png) 640px 625px no-repeat;
    background-size: 100%, 225px;
    background-color: #ffffff;
  }
  .slides.template-io2011 article.biglogo {
    background: #ffffff url(images/googleio-logo.png) 50% 50% no-repeat;
    background-size: 600px;
  }
  .slides.template-akquinet article:not(.nobackground):not(.biglogo) {
    background: url(images/akquinet-logo-small.png) 700px 626px no-repeat;
    background-color: #ffffff;
  }
  .slides.template-akquinet article.biglogo {
    background: #ffffff url(images/akquinet-logo.png) 50% 50% no-repeat;
  }
  .slides.template-arrow-ubidreams article:not(.nobackground):not(.biglogo) {
    background: url(images/arrow-ubidreams-logo-small.png) 700px 626px no-repeat;
    background-color: #ffffff;
  }
  .slides.template-arrow-ubidreams article.biglogo {
    background: #ffffff url(images/arrow-ubidreams-logo.png) 50% 50% no-repeat;
  }
  /* Clickable/tappable areas */
  .slide-area {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 700px;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-top: -350px;
    tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  #prev-slide-area {
    margin-left: -550px;
  }
  #next-slide-area {
    margin-left: 400px;
  }
  .source {
    position: absolute;
    left: 60px;
    top: 644px;
    padding-right: 175px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #333333;
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 150px;
    padding-right: 40px;
    letter-spacing: -2px;
  }
  a {
    color: #0066cc;
  }
  a:visited {
    color: rgba(0, 102, 204, 0.75);
  }
  a:hover {
    color: black;
  }
  p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  p:first-child {
    margin-top: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-left: .75em;
  }
  ul:first-child {
    margin-top: 0;
  }
  ul ul {
    margin-top: .5em;
  }
  ul li {
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
  }
  ul li::before {
    content: '·';
    width: .75em;
    margin-left: -0.75em;
    position: absolute;
  }
  ul li.no-bullet::before {
    content: '';
  }
  ul li pre.compact-top {
    margin-top: .5em;
  }
  ul li pre.compact-bottom {
    margin-bottom: .5em;
  }
  dd {
    margin-bottom: .5em;
  }
  pre {
    font-family: 'Droid Sans Mono', 'Courier New', monospace;
    font-size: 20px;
    line-height: 28px;
    padding: 5px 10px;
    letter-spacing: -1px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #657b83;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  pre.wrap {
    white-space: pre-wrap;
    /* css-3 */
  
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
  
    white-space: -pre-wrap;
    /* Opera 4-6 */
  
    white-space: -o-pre-wrap;
    /* Opera 7 */
  
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
  
  }
  pre.compact-top {
    margin-top: 0;
  }
  pre.compact-bottom {
    margin-bottom: 0;
  }
  code {
    font-size: 95%;
    font-family: 'Droid Sans Mono', 'Courier New', monospace;
    color: black;
  }
  iframe {
    width: 100%;
    height: 620px;
    background: white;
    border: 1px solid #c0c0c0;
    margin: -1px;
  }
  h3 + iframe {
    margin-top: 40px;
    height: 540px;
  }
  article.fill iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: -1;
  }
  article.fill img {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: -1;
  }
  img.centered {
    margin: 0 auto;
    display: block;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
  }
  table th {
    font-weight: 600;
    text-align: left;
  }
  table td,
  table th {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    vertical-align: top;
  }
  .source {
    position: absolute;
    left: 60px;
    top: 644px;
    padding-right: 175px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
  }
  div.questions {
    display: block;
    font-size: 60px;
    line-height: 72px;
    margin-top: 200px;
    text-align: center;
  }
  /* Builds */
  .build > * {
    transition: opacity 0.5s ease-in-out 0.2s;
    -o-transition: opacity 0.5s ease-in-out 0.2s;
    -moz-transition: opacity 0.5s ease-in-out 0.2s;
    -webkit-transition: opacity 0.5s ease-in-out 0.2s;
  }
  .to-build {
    opacity: 0;
  }
}
/* Print version starts */
@media print {
  @page  {
    size: A4 landscape;
    margin-left: 2.8cm;
    margin-right: 2.8cm;
    margin-top: 1.1cm;
    margin-bottom: 1.1cm;
  }
  article {
    page-break-after: always;
    margin: auto;
  }
  article.next,
  article.past {
    display: block;
  }
  article.biglogo,
  article.questions {
    display: none;
  }
  body {
    display: block !important;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16pt;
  }
  article.smaller p,
  article.smaller ul {
    font-size: 14pt;
    line-height: 16pt;
    letter-spacing: 0;
  }
  article.smaller table {
    font-size: 14pt;
    line-height: 16pt;
    letter-spacing: 0;
  }
  article.smaller pre {
    font-size: 10pt;
    line-height: 12pt;
    letter-spacing: 0;
  }
  article.smaller q {
    font-size: 24pt;
    line-height: 28pt;
  }
  article.smaller q::before,
  article.smaller q::after {
    font-size: 36pt;
  }
  i {
    display: inline;
    font-style: italic;
    color: black;
  }
  a {
    color: #0066cc;
  }
  pre {
    font-family: 'Droid Sans Mono', 'Courier New', monospace;
    color: black;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 5px 10px;
    font-size: 12pt;
  }
  pre.wrap {
    white-space: pre-wrap;
    /* css-3 */
  
    white-space: -moz-pre-wrap !important;
    /* Mozilla, since 1999 */
  
    white-space: -pre-wrap;
    /* Opera 4-6 */
  
    white-space: -o-pre-wrap;
    /* Opera 7 */
  
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
  
  }
  pre.compact-top {
    margin-top: 0;
  }
  pre.compact-bottom {
    margin-bottom: 0;
  }
  code {
    font-family: 'Droid Sans Mono', 'Courier New', monospace;
    color: black;
  }
  .source {
    left: 60px;
    top: 644px;
    padding-right: 175px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #333333;
    font-size: 45px;
    line-height: 45px;
    margin-top: 500px;
    padding-right: 40px;
    letter-spacing: -2px;
  }
}
@media screen, print {
  .slides > article.fill h3 {
    background: rgba(255, 255, 255, 0.75);
    padding-top: .2em;
    padding-bottom: .3em;
    margin-top: -0.2em;
    margin-left: -60px;
    padding-left: 60px;
    margin-right: -60px;
    padding-right: 60px;
  }
  b {
    font-weight: 600;
  }
  .blue {
    color: #0066cc;
  }
  .yellow {
    color: #ffd319;
  }
  .green {
    color: #008a35;
  }
  .red {
    color: #ff0000;
  }
  .black {
    color: black;
  }
  .white {
    color: white;
  }
  img.centered {
    margin: 0 auto;
    display: block;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
  }
  table th {
    font-weight: 600;
    text-align: left;
  }
  table td,
  table th {
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    vertical-align: top;
  }
  h1 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #333333;
    font-size: 60px;
    line-height: 60px;
    margin-top: 200px;
    padding-right: 40px;
    letter-spacing: -3px;
  }
  h3 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: #333333;
    font-size: 30px;
    line-height: 36px;
    padding-right: 40px;
    letter-spacing: -1px;
  }
  q {
    display: block;
    font-size: 60px;
    line-height: 72px;
    margin-left: 20px;
    margin-top: 100px;
    margin-right: 150px;
  }
  q::before {
    content: '“';
    position: absolute;
    display: inline-block;
    margin-left: -2.1em;
    width: 2em;
    text-align: right;
    font-size: 90px;
    color: #c0c0c0;
  }
  q::after {
    content: '”';
    position: absolute;
    margin-left: .1em;
    font-size: 90px;
    color: #c0c0c0;
  }
  div.author {
    text-align: right;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 150px;
  }
  div.author::before {
    content: '—';
  }
}
